*
{
	margin:0px;
	padding:0px;
}

.ico
{
font-family: IcoFont;
    font-size: 50px;
    color: yellow;
    position: relative;
    left: 125px;
}
	

.banner
{
	width:600px;
	margin:28px auto;
	background-color:white;
	padding:25px;
	
	
	
}

.container
{
	    font-size:35px;
	    font-family: 'Lato', sans-serif;
        font-style:italic;
		color:black;
		text-align:center;
		margin-bottom:20px;
	
}


.he
{
	color:black;
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-style:normal;
	
}

.fre
{

	text-align:center;
	font-family: 'Lato', sans-serif;
	font-style:normal;
	color:lightgray;
	font-size:20px;
}
	


.pic img
{
	height:100px;
	width:100px;
	border-radius:50%;
	margin-left:245px;

}
